@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap");

.contact_content {
  background: -webkit-linear-gradient(0deg, #102C57, #102C57);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  padding: 25px 50px 25px 50px;
  font-family: "Pathway Extreme", sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.forms{
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.mainForm {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pathway Extreme", sans-serif;
  margin-bottom: 50px;
  padding: 20px;
}

.formWord {
  display: grid;
  padding: 10px;
  width: 75%;
  justify-content: right;
  align-items: center;
}

.formMessage {
  display: grid;
  width: 75%;
  justify-content: left;
  margin-left: 20px;
}

.input100 {
  padding: 12px;
  background-color: #102C57;
  color: white;
  border: 1px solid #4a4a4a;
  border-radius: 12px;
}

.input100:focus {
  outline: none;
  border: 1px solid #DAC0A3;
}

.submitBtn {
  padding: 10px;
  background-color: #102C57;
  color: white;
  border: 0;
  border-radius: 25px;
  font-weight: bolder;
  text-decoration: none;
}

.submitBtn:hover {
  background-color: white;
  color: #102C57;
  border: solid #102C57;
  transition: 0.5s;
}

@media (max-width: 480px) {
  /* Styles for screens up to 480px */
  .contact_content {
    font-size: 18px;
    padding: 10px 20px 10px 20px;
  }

  .mainForm {
    flex-direction: column;
  }

  .formWord {
    margin-right: 50px;
  }

  .submitBtn {
    font-size: 16px;
    padding: 8px;
  }

  .formMessage {
    width: 55%;
  }
}