@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap");

.main_div {
  font-family: "Pathway Extreme", sans-serif;
  color: #102C57;
  margin-top: 125px;
}

.title-bg{
  position: relative;
  background-image: url("../images/titleImage.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 720px;
}

.title {
  position: absolute;
  top: 35%;
  left: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: 700;
  font-family: 'Pathway Extreme', sans-serif;
  background: -webkit-linear-gradient(0deg, #102C57, #102C57);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.target {
  width: 100%;
  padding: 75px 100px 50px 100px;
  font-weight: bolder;
  font-size: 50px;
  background: -webkit-linear-gradient(#102C57, #102C57);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  text-align: center;
}

.main_div h3 {
  padding: 0px 100px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.button_div {
  display: flex;
  justify-content:space-around;
}

.service_button {
  padding: 15px;
  background-color: #F8F0E5;
  color: #FAF9F6;
  font-size: 20px;
  border: 0;
  border-radius: 50px;
  text-decoration: none;
}

.service_button:hover {
  background-color: white;
  color: #102C57;
  transition: 0.5s;
}

.service_button_card {
  display: flex;
  width: 30%;
  padding: 10px;
  margin-left: 35%;
  background-color: #FAF9F6;
  color: #102C57;
  border: 0;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}

.service_button_card:hover {
  background-color: #FAF9F6;
  color: #102C57;
}

.offer_cards {
  display: flex;
  padding: 50px;
  margin: 25px 40px 40px 35px;
  color: #FAF9F6;
  font-family: "Pathway Extreme", sans-serif;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.offer_cards.visible{
  opacity: 1;
  transform: translateY(0);
}

.offer_cards h1 {
  background: -webkit-linear-gradient(#FAF9F6, #FAF9F6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  text-align: center;
}

.offer_cards p {
  text-align: center;
  font-size: 17px;
}

.icons {
  width: 100%;
  padding-bottom: 20px;
  color: #FAF9F6;
}

.offer_cards_card1,
.offer_cards_card2,
.offer_cards_card3 {
  width: 100%;
  padding: 30px;
  margin-left: 10px;
  border-radius: 25px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
  transition: all 0.3s ease-in-out;
  background-color: #102C57;
}

.offer_cards_card1::after,
.offer_cards_card2::after,
.offer_cards_card3::after {
  z-index: -1;
  opacity: 0;
  border: 1px solid #191715;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  transition: opacity 0.3s ease-in-out;
}

.offer_cards_card1:hover,
.offer_cards_card2:hover,
.offer_cards_card3:hover {
  transform: scale(1.2, 1.2);
}

.offer_cards_card1:hover::after,
.offer_cards_card2:hover::after,
.offer_cards_card3:hover::after {
  opacity: 1;
}

/* Media Queries */

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .title{
    text-align: center;
    margin-right: 250px;
  }
}

@media (max-width: 768px) {
  /* Styles for screens up to 768px */

  .title{
    font-size: 70px;
    font-family: 'Pathway Extreme', sans-serif;
    background: -webkit-linear-gradient(0deg, #102C57, #102C57);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-right: 120px;
  }

  .button_div {
    flex-wrap: wrap;
  }

  .main_div h3 {
    font-size: 20px;
  }
  
  .service_button_card {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  
  .offer_cards {
    flex-direction: column;
    padding: 20px;
  }
  
  .offer_cards_card1,
  .offer_cards_card2,
  .offer_cards_card3 {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .title {
    font-size: 50px;
    margin-left: 22px;
    text-align: center;
  }

  .title-bg {
    background-size: auto;
  }

  .target {
    font-size: 30px;
    padding: 30px 10px;
  }

  .main_div h3 {
    padding: 0px 10px;
  }

  .service_button,
  .service_button_card {
    width: 100%;
  }

  .offer_cards {
    padding: 10px;
    margin: 10px;
  }

  .offer_cards h1 {
    font-size: 18px;
  }

  .offer_cards p {
    font-size: 12px;
  }

  .icons {
    padding-bottom: 5px;
  }

  .offer_cards_card1,
  .offer_cards_card2,
  .offer_cards_card3 {
    padding: 10px;
    margin-bottom: 10px;
  }
}