@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap");

.main{
  margin-top: 100px;
}

.locations_heading {
  padding: 75px 100px 50px 100px;
  font-weight: bolder;
  font-family: "Pathway Extreme", sans-serif;
  font-size: 50px;
  background: -webkit-linear-gradient(#102C57, #102C57);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
  text-align: center;
}

.locations{
  display: flex;
  padding: 50px;
  margin: 25px 40px 40px 35px;
  color: #FAF9F6;
  font-family: "Pathway Extreme", sans-serif;
  justify-content: space-around;
  align-items: center;
}

.locations h1 {
  background: -webkit-linear-gradient(#FAF9F6, #FAF9F6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  text-align: center;
}

.locationCards_card1,
.locationCards_card2 {
  width: 40%;
  padding: 50px 30px;
  margin-left: 10px;
  border-radius: 25px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
  transition: all 0.3s ease-in-out;
  background-color: #102C57;
}

.areaButton_card {
  display: flex;
  width: 30%;
  padding: 10px;
  margin-left: 35%;
  background-color: #FAF9F6;
  color: #102C57;
  border: 0;
  border-radius: 25px;
  text-decoration: none;
  justify-content: center;
}