@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap");

.shipping_container{
    font-family: "Pathway Extreme", sans-serif;
    color: #102C57;
}

.shipping-bg{
    position: relative;
    background-image: url("../images/shipping.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
  }
  
  .shippingTitle {
    position: absolute;
    top: 50%;
    left: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 700;
    font-family: 'Pathway Extreme', sans-serif;
    background: -webkit-linear-gradient(0deg, #102C57, #102C57);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .shipping_content{
    padding: 50px;
}

  .shipping_heading {
    padding: 75px 100px 50px 100px;
    font-weight: bolder;
    background: -webkit-linear-gradient(#102C57, #102C57);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    text-align: center;
}

.shipping_content > h1{
    font-weight: bolder;
    font-size: 30px;
    background: -webkit-linear-gradient(#102C57, #102C57);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    text-align: center;
}

.shipping_mobile_view{
    font-weight: bolder;
    font-size: 30px;
    background: -webkit-linear-gradient(#102C57, #102C57);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    text-align: center;
}

.shippingCards {
  display: flex;
  padding: 50px;
  margin: 25px 40px 40px 35px;
  color: #FAF9F6;
  font-family: "Pathway Extreme", sans-serif;
  justify-content: space-evenly;
  align-items: center;
}

.shippingCards > h1{
  font-weight: bolder;
}

.shippingCards_card1,
.shippingCards_card2,
.shippingCards_card3 {
width: 40%;
padding: 50px 30px;
margin-left: 10px;
border-radius: 25px;
box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
transition: all 0.3s ease-in-out;
background-color: #102C57;
text-align: center;
}

.shipping_content > ul{
    font-size: 25px;
    font-weight: bold;
}

.shipping_content > ul > li{
    padding: 10px;
}

.shipping_content > p{
    font-size: 25px;
    font-weight: bold;
}

.shipping_content > h4{
    font-size: 28px;
    font-weight: bolder;
}

@media (max-width: 480px) {
    .shippingTitle {
      font-size: 45px;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 20px;
    }
  
    .shipping-bg {
      background-size: cover;
      height: 450px;
    }
  
    .shipping_content > h1 {
      display: none;
    }
  
    .shipping_mobile_view {
      font-size: 25px;
    }

    .shippingCards{
      padding: 1px;
display: flex;
flex-direction: column;
  }

  .shippingCards > h1{
      font-weight: bolder;
  }

  .shippingCards_card1,
  .shippingCards_card2,
  .shippingCards_card3 {
      padding: 20px;
      width: 100%;
      margin-bottom: 10px;
}
  
    .shipping_content > ul {
      font-size: 18px;
    }
  
    .shipping_content > ul > li {
      padding: 8px;
    }
  
    .shipping_content > p {
      font-size: 18px;
    }
  
    .shipping_content > h4 {
      font-size: 20px;
    }
  }

  @media screen and (min-width: 1025px) and (max-width: 1440px) {
    .shippingTitle{
      text-align: center;
      margin-left: -40px;
    }
  }