@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap');

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FAF9F6;
  width: 100%;
}

.title {
  font-size: 100px;
  font-weight: 700;
  font-family: 'Pathway Extreme', sans-serif;
  background: -webkit-linear-gradient(0deg, #102C57, #102C57);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 450px;
}

/* .title-bg {
  height: 1000px;
} */

@media (max-width: 768px) {
  .title{
    font-size: 70px;
    font-family: 'Pathway Extreme', sans-serif;
    background: -webkit-linear-gradient(0deg, #817F7C, #817F7C);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .title{
    font-size: 70px;
    font-family: 'Pathway Extreme', sans-serif;
    background: -webkit-linear-gradient(0deg, #fff, #DAC0A3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 0px;
  }
}