@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap');

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FAF9F6;
  width: 100%;
  overflow-x:hidden;
}