@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap");

.footer {
  text-align: center;
  padding: 10px;
}

.topRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerIcons{
  padding: 0px 20px;
}

.footer_img{
  padding: 0px 20px;
}

.footercol {
  background: -webkit-linear-gradient(#102C57, #102C57);
  font-family: "Pathway Extreme", sans-serif;
  margin-left: 20px;
}

.line {
  border-top: 1px solid white;
  color: white;
}

@media (max-width: 768px) {
  .row.top {
  margin-left: 0;
  text-align: center;
  align-items: center;
  }

  .footer_nav{
    padding: 10px;
  }
  
  .col-sm-3.links {
  margin-top: 10px;
  }
  
  .input {
  flex-direction: column;
  }
  
  .input h1 {
  text-align: center;
  align-items: center;
  }
  }